body{
    background-color: #EAE7B1;
}

.digi{
    color: #3C6255;
}

.b-item{
    text-decoration: none;
    color: #3C6255
}

.custom-shape-divider-top-1674207023 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674207023 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 132px;
}

.custom-shape-divider-top-1674207023 .shape-fill {
    fill: #3C6255;
}

.container-main{
    width: 100%;
    border: 1px solid #A6BB8D;
    border-radius: 10px;
    background-color: #A6BB8D;
  }

.masjid{
    border-radius: 7px;
    box-shadow: 2px 2px 2px gray;
}